.profil-container {
    width: 20vw;
    height: 30vw;
    position: relative;

    .profil-img,
    .profil-photo {
        height: 100%;
        width: 100%;
    }

    .profil-img {
        position: absolute;
        z-index: 2;
        border-radius: 15px;
        transition: box-shadow 0.6s ease-in-out;
    }

    .profil-photo {

        &::before,
        &::after {
            position: absolute;
            content: '';
            z-index: 1;
            inset: 0;
            padding: 0;
            border-radius: 15px;
            background: url("../../../assets/images/profile-img.png") no-repeat center / cover;
            transition: all 0.6s ease-in-out;
        }

        &::before {
            z-index: 1;
        }

        &::after {
            z-index: 0;
        }
    }

    .profil-cv-container {
        position: absolute;
        z-index: 4;
        bottom: 2.5%;
        width: 100%;
        display: grid;
        justify-content: center;

        .profil-cv {
            background-color: var(--medium-dark);
            text-decoration: none;
            padding: 3px 12px 5px 10px;
            border-radius: 5px;
            color: white;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 5px 5px var(--dark);
            }
        }
    }

    &:hover {
        .profil-img {
            box-shadow: 0 0 15px blue;
        }

        .profil-photo {

            &::before {
                transform: rotateZ(45deg);
                box-shadow: 0 0 15px white;
            }

            &::after {
                transform: rotateZ(-45deg);
                box-shadow: 0 0 15px red;
            }
        }

        .img-btn-cv {
            opacity: 1;
            visibility: visible;
        }
    }
}