* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: 'Berkshire Swash', cursive;
}

body {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

p {
  text-align: justify;
}

a {
  color: rgb(55, 255, 139);

  &:hover {
    text-decoration: underline;
  }
}


/* ---------------------------------------------------- */

/* HOMEPAGE */

/* TOOLS */

/* PORTFOLIO */

/* CONTACT */

.iconsocialnetworks {
  height: 30px;
  width: 30px;
}


/* ABOUT ME */

.formation {
  margin: 0 5px;
  font-style: italic;
  font-weight: bold;
}

.formation:hover {
  text-decoration: underline;
}

.redirectLink {
  margin: 0 5px;
  font-style: italic;
  font-weight: bold;
}


/* OTHER */

/* ---------------------------------------------------- */