* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: 'Berkshire Swash', cursive;
}

body {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

p {
  text-align: justify;
}

a {
  color: rgb(55, 255, 139);

  &:hover {
    text-decoration: underline;
  }
}

.body-page {
  position: relative;
  min-height: 100vh;
}

/* ---------------------------------------------------- */

/* HOMEPAGE */

/* TOOLS */

/* PROJECTS */
.title-arrow {
  cursor: pointer;
  height: 4vh;
  width: 8vw;
  margin-bottom: -5px;
  transition: all 1s ease;
  
  &.false {
    transform: rotate(180deg);
  }
  
}

.project-container {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  color: white; 
  width: 70vw;

  & p {
    text-align: justify;

    &.detail {
      font-size: small;
      cursor: pointer;
      opacity: 0.7;
      color: rgb(55, 255, 139);

      &.true {
        margin-bottom: 1vh;
      }
    }
  }
  & img {
    width: 100%;
    border-radius: 5px;
    margin: 2vh 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  }
  & .border-container {
    width: 50vw;
    margin-top: 2vh;
    border-bottom: 1px solid white;
  }
}

/* CONTACT */
.iconsocialnetworks {
  height: 30px;
  width: 30px;
}


/* ABOUT ME */
.formation {
  margin: 0 5px;
  font-style: italic;
  font-weight: bold;
}

.formation:hover {
  text-decoration: underline;
}

.redirectLink {
  margin: 0 5px;
  font-style: italic;
  font-weight: bold;
}


/* OTHER */

/* ---------------------------------------------------- */
